/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FF6565;
  --text-color: #ffffff;
  --background-color: #0c1a2b;
  --font-sans: 'Source Sans Pro', sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
}

.nav-links a:hover {
  color: var(--primary-color);
}

/* Hero Section */
.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('headphones_hero_1.jpg') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

  .nav-links {
    gap: 10px;
    font-size: 0.9rem;
  }

